//head
.head {
    @h: 48px;
    width: 100%;
    height: @h;
    border-top: 2px solid @orange-light;
    border-bottom: 1px solid #f5f5f5;

    .head-content {
        width: 1000px;
        margin: 0 auto;
        height: @h;
    }

    @media screen and (min-width: @screen-lg-min) {
        .head-content {
            width: 1248px;
        }
    }

    @media screen and (max-width: @screen-md-max) {
        .head-content {
            width: 760px;
        }
    }

    .logo {
        width: 80px;
        height: 48px;
        text-indent: -10000px;
        background: url("../images/logo.png") no-repeat left top;
        display: block;
        float: left;
    }

    .search-block {
        position: relative;
        margin-left: 30px;
        float: left;
        height: 30px;
        margin-top: 7px;
    }

    .search-input {
        width: 175px;
        height: 28px;
        background: #f2f2f5;
        color: #858586;
        border: 1px solid #cccccc;
        padding-left: 10px;  
    }
    .search-input::placeholder {
        color: #858586;
    }

    @media screen and (min-width: @screen-lg-min) {
        .search-input {
            width: 470px;
        }
    }

    @media screen and (max-width: @screen-md-max) {
        .search-input {
            width: 115px;
        }
    }

    .search-btn {
        width: 17px;
        height: 16px;
        background: url("../images/search-btn.png") no-repeat left top;
        position: absolute;
        right: 12px;
        top: 8px;
    }
    .right {
        float: right;
        font-size: 14px;
        height: 21px;
        line-height: 21px;
        margin-top: 14px;
    }

    .head-nav {
        float: left;

        li {
            float: left;
        }
        a {
            display: block;
            color: #333333;
            padding-left: 26px;
            margin-left: 26px;
        }
        a:hover {
            color: @hover-color;
        }
        .icon-home {
            background: url("../images/icon-home.png") no-repeat left center;
        }
        .icon-vedio {
            background: url("../images/icon-vedio.png") no-repeat left center;
        }
        .icon-found {
            background: url("../images/icon-found.png") no-repeat left center;
        }
        .icon-game {
            background: url("../images/icon-game.png") no-repeat left center;
        }
    } 
    
    .logon {
        float: right;
        padding-left: 34px;

        li {
            float: left;
        }

        a {
            color: #333333;
        }

        a:hover {
            color: @hover-color;
        }

        .divider {
            width: 1px;
            height: 14px;
            background: #d9d9d9;
            margin: 4px 15px;
        }
    }
}
.main-content {
    width: 1170px;
    margin: 0 auto;
    padding-top: 16px;
    font-size: 0;

    .main-l, .main-m, .main-r {
        display: inline-block;
        font-size: 12px;
        vertical-align: top;
    }

    .main-l {
        width: 110px;
        margin-right: 30px;       
    }

    .main-m {
        width: 660px;
        margin-right: 30px;
    }

    .main-r {
        width: 340px;
    }

    .menu li {
        margin-bottom: 3px;
    } 
}

.menu-item {
    display: block;
    width: 110px;
    height: 40px;
    line-height: 40px;
    color: #000;
    font-size: 18px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &.cur, &:hover {
        color: #fff;
        background: #fd4f34;
        border-radius: 3px;
    }
}

.slider {
    width: 660px;
    height: 300px;
    overflow: hidden;
    position: relative;

    .header-slider li {
        float: left;
        width: 660px;
        height: 300px;
        position: relative;

        .pic {
            width: 100%;
        }

        .pic-intro {
            position: absolute;
            left: 0;
            bottom: 0;
            color: #fff;
            font-size: 20px;
            width: 100%;
            height: 48px;
            line-height: 48px;
            padding-left: 10px;
            box-sizing: border-box;
            background: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
        }
    }
    
    .dot-box {
        position: absolute;
        right: 10px;
        bottom: 10px;

        li {
            float: left;
            margin-right: 10px;
        }

        .dot-item {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: #fff;
            display: inline-block;

            &.cur {
                background: #eb7350;
            }
        }
    }
}                                                                                                 

.new-info {
    background: #fffdec;
    margin: 20px 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    position: relative;
    color: @hover-color;
    text-align: center;
    cursor: pointer;
    font-size: 14px;

    .icon-close {
        width: 10px;
        height: 11px;
        background: url("../images/icon-close.png") no-repeat top left;
        position: absolute;
        right: 14px;
        top: 15px;
        cursor: pointer;
    }
}

.feed-list {
    margin-top: 20px;
}

.list-v2 {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 10px;
    margin-bottom: 10px;
    position: relative;
    color: @txt-light;
    .clearfix();

    .img-vedio {
        width: 328px;
        height: 184px;
        overflow: hidden;
        float: left;
        margin-right: 25px;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .icon-play {
            display: block;
            position: absolute;
            width: 57px;
            height: 55px;
            top: 50%;
            left: 50%;
            margin-top: -28px;
            margin-left: -28px;
            background: url("../images/icon-play.png") no-repeat top left;
        }
    }

    .desc-intro {
        color: #333;
        line-height: 24px;
        max-height: 96px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical; 
    }

    .action-list {
        position: absolute;
        bottom: 10px;
        right: 0;
    }
}
.subinfo {
    margin-top: 10px;
    color: #808080;

    .avatar {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: inline-block;
        vertical-align: top;

        img {
            width: 100%;
        }
    }

    .nickname {
        height: 20px;
        line-height: 20px;
        color: @txt-light;
        margin-right: 12px; 
    }   
}


.action-list {
    li {
        float: left;
        height: 20px;
        line-height: 20px;
    }

    .divider {
        background: #cccccc;
        width: 1px;
        height: 10px;
        margin: 4px 8px;
    }

    .num {
        color: @txt-light;
    }

    span {
        width: 15px;
        height: 20px;
        margin-right: 6px;
        display: inline-block;
        vertical-align: bottom;
    }

    .icon-share {
        background: url("../images/icon-share.png") no-repeat center left;
    }

    .icon-comment {
        background: url("../images/icon-comment.png") no-repeat center left;
    }

    .icon-praise {
        background: url("../images/icon-praise.png") no-repeat center left; 
    }
}
.list-b {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 10px;
    margin-bottom: 10px;
    .clearfix();

    .pic {
        width: 158px;
        height: 102px;
        float: left;
        margin-right: 13px;

        img {
            width: 100%;
            height: 100%; 
        }
    }

    .list-desc-b {
        display: table-cell;
        vertical-align: middle;
        height: 102px;
    }

    .desc-intro-b {
        color: #333;
        font-size: 20px;
        line-height: 24px;
        font-weight: bold;
    }

    .subinfo {
        .action-list {
            float: right;
        }
    }
}
.list-a {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 10px;
    margin-bottom: 10px;

    .desc-intro-a {
        color: #333;
        font-size: 14px;
        .text-ellipsis();
        width: 660px;
        display: block;
        margin-bottom: 10px;
    }

    .pic-list {
        .clearfix();

        li {
            width: 158px;
            height: 102px;
            float: left;
            margin-right: 6px;
            overflow: hidden;
        }
        img {
            width: 100%;
        }
    }

    .subinfo {
        .action-list {
            float: right;
        }
    }
}
.logon-box {
    background: @side-column-color;
    color: @txt-light;
    padding: 20px; 
    margin-bottom: 20px;

    .logon-content {
        background: #fff;
        border-radius: 3px;
        padding: 10px;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, .15);
        position: relative;

        .change-btn {
            width: 40px;
            height: 40px;
            position: absolute;
            right: 0;
            top: 0;
            background: url("../images/sprite_login.png") no-repeat;
            background-position: -40px -191px;
        }
    }

    .logon-tab {
        font-size: 14px;
        text-align: center;
        border-bottom: 1px solid rgba(204,204,204,.5);
        margin-bottom: 16px;
        .clearfix();

        li {
            float: left;
            width: 50%;
            height: 30px;
            line-height: 30px;
            border-bottom: 3px solid transparent;
            margin-bottom: -1px;

            &.cur {
                border-bottom-color: #fa7d3c;
                color: #000;
            }
        }
    }

    .account-input,
    .password-input {
        width: 100%;
        height: 28px;
        border: 1px solid #ccc;
        padding-left: 36px;
        box-sizing: border-box;
    }

    .account-input {
        background: url("../images/icon-account.png") no-repeat 12px center;
        margin-bottom: 12px;
    }

    .password-input {
        background: url("../images/icon-password.png") no-repeat 12px center;
        margin-bottom: 12px;
    }

    .ckb {
        vertical-align: middle;
        margin-right: 5px;
    }

    .forget {
        float: right;
    }

    .logon-btn {
        background: #ff8140;
        border: 1px solid #f77c3d;
        border-radius: 3px;
        color: #fff;
        margin-top: 12px;
        width: 100%;
        height: 34px;
        line-height: 34px;
        text-align: center;
        font-size: 16px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
        box-sizing: border-box;
    }

    .register {
        margin-top: 12px;
        a{
            color: #eb7350;
        }
    }

    .logon-list {
        margin-top: 12px;
        border-top: 1px solid #ccc;
        border-top-color: rgba(204, 204, 204, 0.5);
        padding-top: 10px;

        a {
            width: 17px;
            height: 17px;
            margin-right: 3px;
            display: inline-block;
            vertical-align: middle;
        }

        .icon-taobao {
            background: url("../images/icon-taobao.png") no-repeat top left;
        }
    }
}

.news-list {
    background: @side-column-color;
    color: @txt-light;
    border-top: 1px solid #fa2f2f;
    padding: 20px;
    margin-bottom: 20px;

    h1 {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 18px;
        color: #333;
    }

    .news-item {
        margin-bottom: 20px;
        .clearfix();

        img {
            width: 50px;
            height: 50px;
            float: left;
            margin-right: 12px;
        }

        .news-content {
            height: 50px;
            display: table-cell;
            vertical-align: middle;
        }

        .news-title {
            font-size: 14px;
            font-weight: normal;

            a {
                color: #333;
            }

            a:hover {
                color: @hover-color; 
            }
        }

        .news-intro {
            width: 238px; 
            margin-top: 5px; 
            .text-ellipsis();
        }

        .img-r {
            width: 120px;
            height: 70px;
            float: right;
            margin: 0 0 0 10px;
        }

        .news-title-r {
            font-size: 14px;
            font-weight: normal;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            max-height: 36px;
            

            a {
                color: #333;
            }

            a:hover {
                color: @hover-color; 
            }
        }
    }
}