@orange-light: #fa7d3c;
@screen-md-max: 1006px;
@screen-lg-min: 1295px;
@hover-color: #eb7350;
@txt-light: #808080;
@txt-dark: #333;
@side-column-color: #f2f2f5;
.clearfix {
    display: block;

    &:after {
        display: block;
        content: ".";
        width: 0;
        height: 0;
        clear: both;
        visibility: hidden;
    }
}
.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.vertical-middle(@height) {
    height: @height;
    display: table-cell;
    vertical-align: middle;
}