.clearfix {
  display: block;
}
.clearfix:after {
  display: block;
  content: ".";
  width: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
